



  <div class="p-grid" id="content" #content style="margin: 0;padding: 0;height: 100%;width: 100%;">

    

    <div class="p-col-12 p-lg-12 p-md-12"
    style="padding: 3rem;">
       
        <mat-card
        [class.mat-elevation-z5]="true"
       >
            <div>
                <div class="surface-0">
                 
                    <div class="text-900 font-medium text-6xl mb-3 text-center" >Image Provision
                        
                        <!-- <img src="assets/images/dashboard.svg" class="image" alt="" style=" width: 200px; margin-top: -80px;margin-left: -40px;"/> -->
        
                    </div>
                    <div class="text-700 text-xl mb-6 text-center line-height-3">IpvMorpho Analysis Report</div>
                
                    <button pButton pRipple type="button" label="Download Report"   style="background-color: #333652;color: white;text-align: center;float: right;"  (click)="SavePDF()"></button>

                
                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-4">
                            <div class="surface-0">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">Report ID:</div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">Method Name: Process method 2</div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">Batch No: 1</div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">AR No: 101</div>


                                    </div>
                                   
                                </div>
                              
                            </div>
                        </div>
                      
                        <div class="col-12 md:col-12 lg:col-4">
                            <div class="surface-0">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">Analysis Name: Analysis-1</div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">Preparation Type:</div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">Product Type:</div>


                                    </div>
                                   
                                </div>
                              
                            </div>
                        </div>

                        <div class="col-12 md:col-12 lg:col-4">
                            <div class="surface-0">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">Report Date/Time: 08/10/2021 - 03:11:35 PM</div>
                                        <div class="text-900 font-medium" style="margin-bottom: 1rem;">Analysis Date/Time: 08/10/2021 - 03:11:35 PM</div>
                                    
                                    </div>
                                   
                                </div>
                              
                            </div>
                        </div>

                      
                    </div>
                    <br>

                    <div class="grid">
                  
                        <div class="lg:col-6 md:col-12 sm:col-12">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Particle Distribution Details</span>
                                        <div class="text-500">Below table statistically describes particle type wise its size in form of D10,D50,D90.</div>
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div> -->
                                     
                                   
                                </div>
    
                               
                                <p-table  
                                [value]="particleDistDetails"
                                responsiveLayout="stack" 
                                [paginator]="true" [rows]="4" [rows]="5" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [responsive]="true" [rowHover]="true"  >
                                      <ng-template pTemplate="header" >
                                          <tr>
                                            <th style="width: 3rem">#</th>
                                            <th>Particle Type</th>
                                            <th >D10 Value</th>
                                            <th  >D50 Value</th>
                                            <th>D90 Value</th>
                                          </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body" let-particleDistDetails let-i="rowIndex" >
                                          <tr>
                                           <td>{{i + 1}}</td>
                                           <td>{{particleDistDetails.type}}</td>
                                           <td>{{particleDistDetails.D10}}</td>
                                           <td>{{particleDistDetails.D50}}</td>
                                           <td>{{particleDistDetails.D90}}</td>
    
    
                                          </tr>
                                          
                                          <div class="border-b" ></div>
                                      </ng-template>
                                      
                                </p-table>
                                <!-- <div *ngIf ="showData ==  false" class="text-500">No data available.</div> -->
    
                            </div>
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Size Range Distribution</span>
                                        <!-- <div class="text-500">Below table statistically describes particle type wise its size in form of D10,D50,D90.</div> -->
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div> -->
                                     
                                   
                                </div>
    
                               
                                <p-table  
                                [value]="sizeRange"
                                responsiveLayout="stack" 
                                [paginator]="true" [rows]="3" [rows]="3" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [responsive]="true" [rowHover]="true"  >
                                      <ng-template pTemplate="header" >
                                          <tr>
                                            <th style="width: 3rem">#</th>
                                            <th>Size Range</th>
                                            <th >Count</th>
                                            <th  >Count(%)</th>
                                          </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body"  let-i="rowIndex" let-sizeRange >
                                          <tr>
                                           <td>{{i + 1}}</td>
                                           <td>{{sizeRange.range}}</td>
                                           <td>{{sizeRange.count}}</td>
                                           <td>{{sizeRange.countP}}</td>
    
                                          </tr>
                                        
                                          <div class="border-b" ></div>
                                      </ng-template>
                                      
                                </p-table>
                                <!-- <div *ngIf ="showData ==  false" class="text-500">No data available.</div> -->
    
                            </div>
                        </div>
                        <div class="lg:col-6 md:col-12 sm:col-12">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">No. of Particles</span>
                                        <div class="text-500">This chart demonstrates the total no. of particles that lie under a particular size range.</div>
                                        <!-- <div style="margin-top: 1rem;">
                                            <p-dropdown 
                                            [options]="particleTypes" appendTo="body" [(ngModel)]="selectedTypeId"  optionLabel="typeName" optionValue="typeId" 
                                            (onChange)="getParticleDataByType($event.value)" placeholder = "Select Particle Type"
                                            [filter]="true" filterBy="typeName">
                                            </p-dropdown>
                                        </div> -->
                                       
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center" style="margin-top: -3.6rem;" >
                                       
                                    </div> -->
                                     
                                   
                                </div>
                                <apx-chart
                                    [series]="particleSizeChartOptions.series"
                                    [chart]="particleSizeChartOptions.chart"
                                    [xaxis]="particleSizeChartOptions.xaxis"
                                    [stroke]="particleSizeChartOptions.stroke"
                                    [tooltip]="particleSizeChartOptions.tooltip"
                                    [dataLabels]="particleSizeChartOptions.dataLabels"
                                    [colors]="particleSizeChartOptions.colors"
                                ></apx-chart>
                                <!-- <span class="text-green-500 font-medium">24 new </span>
                                <span class="text-500">since last visit</span> -->
                            </div>
                        </div>
                       
                      
                    </div>
                    
                    <div class="grid">
                       
                        <div class="lg:col-6 md:col-12 sm:col-12">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Particle Analysis</span>
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div> -->
                                     
                                   
                                </div>
    
                               
                                <p-table  
                                [value]="analysisParams"
                                responsiveLayout="stack" 
                                [paginator]="true" [rows]="4" [rows]="5" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [responsive]="true" [rowHover]="true"  >
                                      <ng-template pTemplate="header" >
                                          <tr>
                                            <th style="width: 3rem">#</th>
                                            <th>Parameter</th>
                                            <th >Value</th>
                                          
                                          </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body" let-analysisParams let-i="rowIndex" >
                                          <tr>
                                           <td>{{i + 1}}</td>
                                           <td>{{analysisParams.parameter}}</td>
                                           <td>{{analysisParams.value}}</td>
                                        
    
                                          </tr>
                                          
                                          <div class="border-b" ></div>
                                      </ng-template>
                                      
                                </p-table>
                                <!-- <div *ngIf ="showData ==  false" class="text-500">No data available.</div> -->
    
                            </div>
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Result Summary</span>
                                        <!-- <div class="text-500">Below table statistically describes particle type wise its size in form of D10,D50,D90.</div> -->
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div> -->
                                     
                                   
                                </div>
    
                               
                                <p-table  
                                [value]="resultSum"
                                responsiveLayout="stack" 
                                [paginator]="true" [rows]="3" [rows]="3" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [responsive]="true" [rowHover]="true"  >
                                      <ng-template pTemplate="header" >
                                          <tr>
                                            <th style="width: 3rem">#</th>
                                            <th>Paramter</th>
                                            <th >Values</th>
                                          </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body"  let-i="rowIndex" let-resultSum >
                                          <tr>
                                           <td>{{i + 1}}</td>
                                           <td>{{resultSum.parameter}}</td>
                                           <td>{{resultSum.value}}</td>
    
                                          </tr>
                                        
                                          <div class="border-b" ></div>
                                      </ng-template>
                                      
                                </p-table>
                                <!-- <div *ngIf ="showData ==  false" class="text-500">No data available.</div> -->
    
                            </div>
                        </div>

                        <div class="lg:col-6 md:col-12 sm:col-12">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Particle Distribution</span>
                                        <div class="text-500">This chart illustrates the particle size in form of D10, D50, D90 which is 10% of total count of particles.</div>
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div> -->
                                     
                                   
                                </div>
                                <apx-chart
                                [series]="chartOptions.series"
                                [chart]="chartOptions.chart"
                                [xaxis]="chartOptions.xaxis"
                                [stroke]="chartOptions.stroke"
                                [colors]="chartOptions.colors"
                                [dataLabels]="chartOptions.dataLabels"
                                [legend]="chartOptions.legend"
                                [markers]="chartOptions.markers"
                                [grid]="chartOptions.grid"
                                [yaxis]="chartOptions.yaxis"
                              ></apx-chart>
                                <!-- <span class="text-green-500 font-medium">24 new </span>
                                <span class="text-500">since last visit</span> -->
                            </div>
                        </div>
                      
                    </div>

                    <div class="grid">
                       
                        <div class="lg:col-6 md:col-12 sm:col-12">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Particle Classification Information</span>
                                        <!-- <div class="text-500">Below table statistically describes particle type wise its size in form of D10,D50,D90.</div> -->
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div> -->
                                     
                                   
                                </div>
    
                               
                                <p-table  
                                [value]="classInfo"
                                responsiveLayout="stack" 
                                [paginator]="true" [rows]="3" [rows]="3" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [responsive]="true" [rowHover]="true"  >
                                      <ng-template pTemplate="header" >
                                          <tr>
                                            <th style="width: 3rem">#</th>
                                            <th>Particle Type</th>
                                            <th  >Count(%)</th>
                                          </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body"  let-i="rowIndex" let-classInfo >
                                          <tr>
                                           <td>{{i + 1}}</td>
                                           <td>{{classInfo.type}}</td>
                                           <td>{{classInfo.countP}}</td>
    
                                          </tr>
                                        
                                          <div class="border-b" ></div>
                                      </ng-template>
                                      
                                </p-table>
                                <!-- <div *ngIf ="showData ==  false" class="text-500">No data available.</div> -->
    
                            </div>
                        </div>

                        <div class="lg:col-6 md:col-12 sm:col-12">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Particle Classification</span>
                                        <div class="text-500">This chart describes the particle types that have been identified in the current analysis.</div>
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div> -->
                                     
                                   
                                </div>
                                <apx-chart
                                    [series]="particleTypeChartOptions.series"
                                    [chart]="particleTypeChartOptions.chart"
                                    [labels]="particleTypeChartOptions.labels"
                                    [fill]="particleTypeChartOptions.fill"
                                    [stroke]="particleTypeChartOptions.stroke"
                                    [responsive]="particleTypeChartOptions.responsive"
                                    [colors]="particleTypeChartOptions.colors"
                                ></apx-chart>
                                <!-- <span class="text-green-500 font-medium">24 new </span>
                                <span class="text-500">since last visit</span> -->
                            </div>
                        </div>
                      
                    </div>
                 
                    <!-- <div class="grid">
                        <div class="col-12">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Particle Distribution Details</span>
                                        <div class="text-500">Below table statistically describes particle type wise its size in form of D10,D50,D90.</div>
                                    </div>
                               
                                   
                                </div>
    
                               
                                <p-table  
                                [value]="particleDeets"
                                responsiveLayout="stack" 
                                [paginator]="true" [rows]="4" [rows]="5" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [responsive]="true" [rowHover]="true"  >
                                      <ng-template pTemplate="header" >
                                          <tr>
                                            <th style="width: 3rem">#</th>
                                            <th>Image Particle No.</th>
                                            <th >Type</th>
                                            <th  >Size</th>
                                            <th>Length</th>
                                            <th>Area</th>
                                            <th>Circularity</th>
                                            <th>Intensity</th>
                                          </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body" let-particleDeets let-i="rowIndex" >
                                          <tr>
                                           <td>{{i + 1}}</td>
                                           <td>{{particleDeets.no}}</td>
                                           <td>{{particleDeets.type}}</td>
                                           <td>{{particleDeets.size}}</td>
                                           <td>{{particleDeets.length}}</td>
                                           <td>{{particleDeets.area}}</td>
                                           <td>{{particleDeets.circularity}}</td>
                                           <td>{{particleDeets.intensity}}</td>
    
    
                                          </tr>
                                          
                                          <div class="border-b" ></div>
                                      </ng-template>
                                      
                                </p-table>
    
                            </div>
                        </div>
                    </div> -->
                   
                </div>
            </div>
        </mat-card>
    </div>
</div>