<!-- <div class="card" (click)="cardClicked()" [@cardFlip]="data.state">
    
    <div class="face back">
        <img src="assets/images/img1.jpg">
    </div>
    <div class="face front">
        <img [src]="'https://source.unsplash.com/' + data.imageId + '/200x300'">
    </div>
</div> -->




<!-- #2 -->
	<!-- <img class="wave" src="assets/images/wave.png">
	<div class="container">
		<div class="img">
			<img src="assets/images/bg.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="assets/images/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div> -->
    <div class="container">
        <div class="forms-container">
          <div class="signin-signup">
            <form action="#" class="sign-in-form">
              <h2 class="title">Sign in</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" name="userName" [(ngModel)]="userName" placeholder="Username" />
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" [(ngModel)]="password" placeholder="Password" />
              </div>
              <input type="submit" style="background-color: #F9CE26;color: #000;" value="Login" class="btn solid" (click)="signInClick()" />
              <!-- <p class="social-text">Or Sign in with social platforms</p> -->
              <!-- <div class="social-media">
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div> -->
            </form>
            <form action="#" class="sign-up-form">
              <h2 class="title">Sign up</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" name="userName" [ngModel]="userName" placeholder="Username" />
              </div>
              <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" />
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" name="password"[ngModel]="password" placeholder="Password" />
              </div>
              <input type="submit" class="btn" style="background-color: #F9CE26;color: #000;" value="Sign up" (click)="signUpClick()" />
              <!-- <p class="social-text">Or Sign up with social platforms</p> -->
              <!-- <div class="social-media">
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div> -->
            </form>
          </div>
        </div>
  
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content">
              <h3 style="color: black;">Don't have an account?</h3>
              <p style="color: black;">
                Sign up to create your account, 
                 It's quick and easy.
              </p>
              <button style="border-color: #333652;color: black;background-color: #F9CE26;" class="btn transparent" (click)="signUp()" id="sign-up-btn">
                Sign up
              </button>
            </div>
            <img src="assets/images/1.svg" class="image" alt="" />
          </div>
          <div class="panel right-panel">
            <div class="content">
              <h3 style="color: black;">Already a member ?</h3>
              <p style="color: black;">
                Sign in to retrieve your account.
              </p>
              <button style="border-color: #333652;color: #000;" class="btn transparent" (click)="signIn()" id="sign-in-btn">
                Sign in
              </button>
            </div>
            <img src="assets/images/2.svg" class="image" alt="" />
          </div>
        </div>
      </div>
  
     