
<!-- ######################################################################## -->
<!-- ######################################################################## -->

<!-- FOLLOWING SIDENAV IS FOR SMALL AND EXTRA SMALL SIZE SCREEN -->

<!-- ######################################################################## -->
<!-- ######################################################################## -->

<div class="hidden-lg hidden-md" style="top: 0;left: 0;height:100%;"
*ngIf="(screenWidth < 991)">
  <mat-toolbar style="background-color: #F9CE26;height: auto;" 
  class="hidden-lg hidden-md toolbar-position-fixed">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon style="color: black;">menu</mat-icon>
    </button>
    <span style="min-height: 5rem;">
      <div style="margin-top: 1%;">
        <!-- <img *ngIf="usrName == 'lomadmin'" src="/assets/lom.png" style="max-height: 20px !important;margin-top: 1rem;">
        <img *ngIf="usrName != 'lomadmin'" src="/assets/en_bg.png" style="max-height: 50px !important;margin-top: 1rem;"> -->
      </div>      
    </span>
    <span class="flexExpand"></span>
    <div class="p-grid">
      <div class="p-col-10" style="text-align: right;">
        <!-- <label style="font-size: 16px;">Welcome, </label>
        <br> -->
        <label style="font-size: 100%;color: black;">IPV Morpho</label>    
      </div>
    </div>  
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
    
        <mat-sidenav fixedInViewport='true' #drawer 
        [mode]="'over'" 
        [opened]="'false'" 
          style="width: 260px;background-color: #F9CE26;
          margin-top: 5rem;">
          <mat-nav-list style="margin: 0;padding: 0;margin-top: 0.5rem;">

            <a mat-list-item *ngFor="let sidenavContent of sidenavContent"
            (click)="onMenuClick(sidenavContent.menuClickLabel);drawer.toggle()" 
            style="color: black;"
            [ngClass]="{'dashboardLink' : selectedDashboardLink === sidenavContent.menuClickLabel}" 
            >
            <mat-icon style="margin-right: 0.5em;"
            [ngClass]="{'iconLink' : selectedDashboardLink === sidenavContent.menuClickLabel}" 
            style="color: black;"
            class="material-icons md-24">{{sidenavContent.icon}}</mat-icon>
            <label [ngClass]="{'labelStyle' : selectedDashboardLink === sidenavContent.menuClickLabel}" >
              {{sidenavContent.label}}
            </label>
            </a>

         
           

            <!-- logout -->
            <!-- <a mat-list-item 
            (click)="onLogoutClick()" 
            [ngClass]="{'dashboardLink' : selectedDashboardLink === 'logout'}" 
            style="color: black;">
            <mat-icon style="margin-right: 0.5em;color: black;"
            [ngClass]="{'iconLink' : selectedDashboardLink === 'logout'}" 
            class="material-icons md-24">logout</mat-icon>Logout
            </a> -->

          </mat-nav-list>
        </mat-sidenav>
    
        <div class="hidden-lg hidden-md demo-sidenav-content">
          <div style="min-height: calc(100vh - 100px);"
          class="hidden-lg hidden-md">
            <div class="hidden-lg hidden-md"
            *ngIf="(screenWidth < 991)">
              <router-outlet></router-outlet>
            </div>            
        </div>
      </div>     
</mat-sidenav-container>
</div>


<!-- ######################################################################## -->
<!-- ######################################################################## -->

<!-- FOLLOWING SIDENAV IS FOR LARGE AND MEDIUM SIZE SCREEN -->

<!-- ######################################################################## -->
<!-- ######################################################################## -->

<div *ngIf="(screenWidth > 990)">
  <mat-toolbar
  style="height: 10%;background-color: #F9CE26;" 
  class="hidden-xs hidden-sm toolbar-position-fixed">

  <button mat-icon-button (click)="drawer1.toggle()">
    <mat-icon style="color: black;">menu</mat-icon>
  </button>
  
  <span>
      <div style="margin-top: 2rem;margin-left: 2%;min-height: 4rem;">
        <label style="font-size: 30px;color: black;">IPV Morpho</label>
        <!-- <img *ngIf="usrName == 'lomadmin'" src="/assets/lom.png" style="max-height: 15px !important;margin-top: 1rem;">
        <img *ngIf="usrName != 'lomadmin'" src="/assets/en_bg.png" style="max-height: 50px !important;margin-top: 1rem;"> -->
      </div>      
  </span>

 
  <span class="flexExpand"></span>
  <div class="p-grid">
    <div class="p-col-10" style="text-align: right;">
      <button mat-icon-button >
        <mat-icon style="color: black;">person</mat-icon>
      </button>    
      <label style="font-size:15px;padding-top :3rem;color: black;">Admin User</label>
    </div>
  </div>  
</mat-toolbar>

<mat-drawer-container
class="hidden-xs hidden-sm example-container mat-typography" autosize>
<!-- [opened]="'open'" disableClose="true" opened="true"  -->
    <mat-drawer 
    
    [mode]="'side'"    
    #drawer1 mode="side"
    style="display: inline-block;margin-top: 6rem;position: fixed;width: 250px; background-color: #F9CE26">
      <mat-nav-list style="margin: 0;padding: 0;margin-top: 2rem;">

        <a mat-list-item *ngFor="let sidenavContent of sidenavContent"
        (click)="onMenuClick(sidenavContent.menuClickLabel);drawer1.toggle();" 
        style="color: black;"
        [ngClass]="{'dashboardLink' : selectedDashboardLink === sidenavContent.menuClickLabel}" 
        >
        <mat-icon style="margin-right: 0.5em;color: black;"
        [ngClass]="{'iconLink' : selectedDashboardLink === sidenavContent.menuClickLabel}" 
        class="material-icons md-24">{{sidenavContent.icon}}</mat-icon>
        <label [ngClass]="{'labelStyle' : selectedDashboardLink === sidenavContent.menuClickLabel}" 
        style="font-size: 18px;font-weight: normal;color: black;">
          {{sidenavContent.label}}
        </label>
        </a>

      

        <!-- logout -->
        <!-- <a mat-list-item 
        (click)="onLogoutClick()" 
        style="color: #F9FAF4;font-family:monospace;"
        [ngClass]="{'dashboardLink' : selectedDashboardLink === 'logout'}" 
        >
        <mat-icon style="margin-right: 0.5em;color: black;"
        [ngClass]="{'iconLink' : selectedDashboardLink === 'logout'}" 
        class="material-icons md-24">logout</mat-icon>
          <label style="font-size: 18px;font-weight: normal;color: black;">
            Logout
          </label>
        </a> -->
        
      </mat-nav-list>
    </mat-drawer>

    <div class="demo-sidenav-content" style="height: 100%;">
        <div style="min-height: 100vh"
        class="hidden-xs hidden-sm">
        <div class="hidden-xs hidden-sm"
        *ngIf="(screenWidth > 990)">
            <router-outlet></router-outlet>
        </div>
        
      </div>
    </div>
  </mat-drawer-container>
</div>

