.mat-sidenav-container{
    height: 100%;
  }
  
  .mat-sidenav {
    background-color: #F9CE26;

    .mat-nav-list{
  
      .chevron-btn {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        right: 0;
        float: right;
        position: absolute;
      }
  
      .chevron-btn.rotated{
        transform: rotate(180deg);
      }
    }
  }
  
  .flexExpand{
    flex: 1 1 auto;
  }