.mat-expansion-panel-header-title {
    font-size:larger;
  }

  
::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }

 ::ng-deep .p-dropdown{
    margin-bottom: 1rem;
 }

 ::ng-deep .p-field{
    margin-bottom: 1rem;
 }

