



  <div class="p-grid" style="margin: 0;padding: 0;height: 100%;width: 100%;">

    

    <div class="p-col-12 p-lg-12 p-md-12"
    style="padding: 3rem;">
       
        <mat-card
        [class.mat-elevation-z5]="true"
       >
            <div>
                <div class="surface-0">
                    <div class="text-900 font-medium text-6xl mb-4 text-center" >Generate Analysis
                        <!-- <img id="top" src="assets/images/imgProc.svg" class="image" alt="" style=" width: 200px; margin-top: -40px;margin-left: -70px;"/> -->
        
                    </div>
                    <!-- <div class="text-700 text-xl mb-6 text-center line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div> -->
                
                
                
                    <!-- <div class="grid">
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Images</span>
                                        <div class="text-900 font-medium text-xl">152</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div>
                                </div>
                                <span class="text-green-500 font-medium">24 new </span>
                                <span class="text-500">since last visit</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Processed Images</span>
                                        <div class="text-900 font-medium text-xl">150</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                                    </div>
                                </div>
                                <span class="text-green-500 font-medium">52+ </span>
                                <span class="text-500">since last week</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Customers</span>
                                        <div class="text-900 font-medium text-xl">28441</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                                    </div>
                                </div>
                                <span class="text-green-500 font-medium">520  </span>
                                <span class="text-500">newly registered</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Comments</span>
                                        <div class="text-900 font-medium text-xl">152 Unread</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                                    </div>
                                </div>
                                <span class="text-green-500 font-medium">85 </span>
                                <span class="text-500">responded</span>
                            </div>
                        </div>
                    </div> -->
                    <br>
                    <div class="grid">
                        <mat-accordion class="example-headers-align w-full">
                            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" showToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-card
                                    style="background-color: #F9CE26;width: 300px;
                                 transform-style: preserve-3d;
                                margin-left: 15px;height: 40px;
                                
                                line-height: 8px;text-align: center;z-index: 1;">
                                    <label style="color: black;opacity: 1;font-size: 18px;margin-bottom: 1rem;">Create Analysis</label>
                                    </mat-card>                                     
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                  Type your name and age
                                  <mat-icon>account_circle</mat-icon>
                                </mat-panel-description> -->
                              </mat-expansion-panel-header>
                             
                                    <div class="surface-0">
                                    
                                        <div class="grid">
                                            <div class="col-12 lg:col-6">
                                                <div class="p-3 h-full">
                                                    <!-- <div class="shadow-2 p-6 h-full flex flex-column" style="border-radius: 6px"> -->
                                                    
                                                        <div class="p-fluid">
                                                            <div class="p-field">
                                                            <label>Select Analysis</label>
                                                            <p-dropdown 
                                                            [options] = "analysis"
                                                            appendTo="body"
                                                            optionLabel="name" optionValue="name"
                                                            placeholder = "Select Analysis"
                                                            [filter]="true" filterBy="name">
                                                            </p-dropdown>
                                                            </div>

                                                            <div class="p-field">
                                                                <label for="anName">Analysis Name</label>
                                                                <input id="anName" type="username" pInputText required />
                                                            </div>

                                                            <div class="p-field">
                                                                <label for="anNo">AR No</label>
                                                                <input id="anNo" type="username" pInputText required />
                                                            </div>

                                                            <div class="p-field">
                                                                <label for="batNo">Batch No</label>
                                                                <input id="batNo" type="username" pInputText required />
                                                            </div>
                                                        
                                                        
                                                        
                                                        
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 lg:col-6">
                                                <div class="p-3 h-full">
                                                    <!-- <div class="shadow-2 p-6 h-full flex flex-column" style="border-radius: 6px"> -->
                                                    
                                                        <div class="p-fluid">
                                                            <div class="p-field">
                                                            <label>Method</label>
                                                            <p-dropdown 
                                                            [disabled] = true
                                                            placeholder = "Select Method"
                                                            [filter]="true" >
                                                            </p-dropdown>
                                                            </div>

                                                            <div class="p-field">
                                                                <label>Image Model</label>
                                                                <p-dropdown 
                                                                [options] = "imgModel"
                                                                appendTo="body"
                                                                optionLabel="name" optionValue="name"
                                                                placeholder = "Select Image Model"
                                                                [filter]="true" >
                                                                </p-dropdown>
                                                            </div>

                                                            <div class="p-field">
                                                                <label>Particle Model</label>
                                                                <p-dropdown 
                                                                [options] = "pmModel"
                                                                appendTo="body"
                                                                optionLabel="name" optionValue="name"
                                                                placeholder = "Select Particle Model"
                                                                [filter]="true"
                                                                filterBy="name" >
                                                                </p-dropdown>
                                                            </div>

                                                        

                                                                <label>Size Range</label>
                                                                <!-- <button pButton pRipple type="button" label="Size Range Configuration" class="p-button-warning"></button> -->
                                                                <button pButton pRipple type="button" label="Size Range Configuration"   style="background-color: #333652;color: white;text-align: center;"  (click)="configSizeRange()"></button>
                                                             
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                            </div>

                                        
                                        </div>
                                    </div>
                               
                                    


                              <mat-action-row>
                                <button pButton pRipple type="button" label="Create Analysis"   style="background-color: #F9CE26;color: black;text-align: center;"  (click)="createAnalysis()" *ngIf = "showNext == false"></button>
                                <button mat-button color="primary" (click)="nextStep()" *ngIf = "showNext == true">Next</button>
                              </mat-action-row>
                            </mat-expansion-panel>
                          
                            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" showToggle [disabled]='isDisabled'>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-card
                                    style="background-color: #F9CE26;width: 300px;
                                 transform-style: preserve-3d;
                                margin-left: 15px;height: 40px;
                                line-height: 8px;text-align: center;z-index: 1;">
                                    <label style="color: black;opacity: 1;font-size: 18px;margin-bottom: 1rem;">Particle Analysis</label>
                                    </mat-card>                                  </mat-panel-title>
                              
                              </mat-expansion-panel-header>
                              <app-img-process></app-img-process>

                              <mat-action-row>
                                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                <button mat-button color="primary" (click)="nextStep()">Next</button>
                              </mat-action-row>
                            </mat-expansion-panel>
                          
                            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" showToggle [disabled]='isDisabled'>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-card
                                        style="background-color: #F9CE26;width: 300px;
                                     transform-style: preserve-3d;
                                     margin-left: 15px;height: 40px;
                                line-height: 8px;text-align: center;z-index: 1;">
                                    <label style="color: black;opacity: 1;font-size: 18px;margin-bottom: 1rem;">Analysis Structure</label>
                                        </mat-card>  
                                    </mat-panel-title>
                                  
                                  </mat-expansion-panel-header>
                                  <app-analysis-structure></app-analysis-structure>
    

                              
                              <mat-action-row>
                                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                <button pButton pRipple type="button" label="Generate report"   style="background-color: #F9CE26;color: black;text-align: center;"  (click)="generateReport()"></button>

                                <!-- <button pButton  label="Show Analysis" (click)="generateReport()"  class="p-2" style="background-color: #F9CE26;color: black;"  >
                                </button> -->
                                <!-- <button mat-button color="primary" (click)="nextStep()">Generate Report</button> -->
                              </mat-action-row>
                            </mat-expansion-panel>
                          
                          </mat-accordion>
                    </div>
                 
                   
                </div>
            </div>
        </mat-card>
    </div>
</div>