



  <div class="p-grid" style="margin: 0;padding: 0;height: 100%;width: 100%;">

    

    <div class="p-col-12 p-lg-12 p-md-12"
    style="padding: 3rem;">
       
        <mat-card
        [class.mat-elevation-z5]="true"
       >
            <div>
                <div class="surface-0">
                 
                    <div class="text-900 font-medium text-6xl mb-4 text-center" >Dashboard
                        
                        <!-- <img src="assets/images/dashboard.svg" class="image" alt="" style=" width: 200px; margin-top: -80px;margin-left: -40px;"/> -->
        
                    </div>
                    <!-- <div class="text-700 text-xl mb-6 text-center line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div> -->
                
                
                
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Images</span>
                                        <div class="text-900 font-medium text-xl">152</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div>
                                </div>
                                <span class="text-green-500 font-medium">24 new </span>
                                <span class="text-500">since last visit</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Processed Images</span>
                                        <div class="text-900 font-medium text-xl">150</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                                    </div>
                                </div>
                                <span class="text-green-500 font-medium">52+ </span>
                                <span class="text-500">since last week</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Customers</span>
                                        <div class="text-900 font-medium text-xl">28441</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                                    </div>
                                </div>
                                <span class="text-green-500 font-medium">520  </span>
                                <span class="text-500">newly registered</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Comments</span>
                                        <div class="text-900 font-medium text-xl">152 Unread</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                                    </div>
                                </div>
                                <span class="text-green-500 font-medium">85 </span>
                                <span class="text-500">responded</span>
                            </div>
                        </div>
                    </div>
                    <br>
                
                 
                   
                </div>
            </div>
        </mat-card>
    </div>
</div>