<p-toast [style]="{'margin-top':'2rem'}"></p-toast>





  <div class="grid" style="padding: 0 2rem 2rem 0;">

    

    <div class="col-12"
    >
       
        <!-- <mat-card
        [class.mat-elevation-z5]="true"
        > -->
            <div> 
                <div class="surface-0" >
                    <!-- <div class="text-900 font-bold text-6xl mb-4 text-center" id="title-text">
                            Particle Analysis
                        <img id="top" src="assets/images/imgProc.svg" class="image" alt="" style=" width: 200px; margin-top: -40px;margin-left: -70px;"/>
        
                    </div> -->
                
                
                    <div class="grid">
                        <div class="col-12 lg:col-6 md:col-12" >
                            <div class="p-3 ">
                                <div class="shadow-2 p-3  flex flex-column" style="border-radius: 6px">
                                    <div class="text-900 font-medium text-xl mb-2">Upload Image</div>
                                    <hr class="my-3 mx-0 border-top-1 border-bottom-none border-300" />
                                    <div class="text-center">
                                        <img *ngIf="showGrid == false" (click)="processClick(0)" #imgUp [src]="imageSrc || 'https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png'" style="width: 500px;height: 300px;" alt="your image" />
                                        <mat-grid-list cols="2" *ngIf="showGrid == true" rowHeight="2:1">
                                            <mat-grid-tile>
                                                <img  (click)="processClick(0)" #imgUp [src]="uploadedImage[0] || 'https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png'" style="width: 300px;height: 200px;" alt="your image" />
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <img  (click)="processClick(1)" #imgUp [src]="uploadedImage[1] || 'https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png'" style="width: 300px;height: 200px;" alt="your image" />
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <img  (click)="processClick(2)" #imgUp [src]="uploadedImage[2] || 'https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png'" style="width: 300px;height: 200px;" alt="your image" />
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <img  (click)="processClick(3)" #imgUp [src]="uploadedImage[3] || 'https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png'" style="width: 300px;height: 200px;" alt="your image" />
                                            </mat-grid-tile>
                                          </mat-grid-list>
                                    </div>
                
                
                                    <section class="text-center" style="margin-top: 2rem;" >
                                        <button pButton  label="Upload" icon="pi pi-upload" class="p-3" style="background-color: #F9CE26;color: black;width: 40%;margin-right: 10px;"  onclick="files.click()">
                                        </button>

                                        <button pButton *ngIf="showGrid == false"  label="Process" [disabled]="uploaded == false"  style="background-color: #333652;color: white;width: 40%;text-align: center;" (click)="processClick(0)" class="p-3">
                                        </button>
                                        <input id="files" style="visibility:hidden;" 
                                        type="file" name="file" value="file" multiple
                                        accept="image/*" (change)="readURL($event)">
                                           
                                           
                                    </section>                
                                </div>
                            </div>
                        </div>
                
                        <div class="col-12 lg:col-6 md:col-12" >
                            <div class="p-3 h-full">
                                <div class="shadow-2 p-3 h-full flex flex-column" style="border-radius: 6px">
                                    <div class="text-900 font-medium text-xl mb-2">Analysis</div>
                                    <hr class="my-3 mx-0 border-top-1 border-bottom-none border-300" />
                                    <div class="text-center">
                                        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="inProcess == true"></p-progressBar>
                                        <p *ngIf="inProcess == true">Particle Analysis in process..</p>
                                        <img id="blah" *ngIf="inProcess == false" [src]="processedImage || 'https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png'" style="width: 500px;height: 300px;" alt="your image" />

                                    </div>
                                    <section class="text-center  mt-auto "  >

                                        <button pButton  label="Show Analysis" [disabled]="showAn == false"  class="p-3" style="background-color: #F9CE26;color: black;width: 40%;margin-right: 10px;"  (click)="showAnalysis()">
                                        </button>
                                        <br>
                                    <input id="Analysis" style="visibility:hidden;" 
                                     
                                   >
                                    </section>
                                </div>
                            </div>
                        </div>
                
                       
                    </div>

                    <div class="grid" *ngIf = "showDetails == true">
                        <div class="col-12">
                            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-900 font-medium text-xl mb-2">Analysis Details</span>
                                        <!-- <div class="text-500">Below table statistically describes particle type wise its size in form of D10,D50,D90.</div> -->
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                                    </div> -->
                                     
                                   
                                </div>

                               
                                <p-table  
                                [value]="details"
                                responsiveLayout="stack" 
                                [paginator]="true" [rows]="4" [rows]="5" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [responsive]="true" [rowHover]="true"  >
                                      <ng-template pTemplate="header" >
                                          <tr>
                                            <th style="width: 3rem">#</th>
                                            <th>Parameter</th>
                                            <th >Values</th>
                                          </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body" let-details  let-i="rowIndex" >
                                          <tr>
                                           <td>{{i + 1}}</td>
                                           <td>{{details.parameter}}</td>
                                           <td>{{details.value}}</td>
                                          </tr>
                                        
                                          <div class="border-b" ></div>
                                      </ng-template>
                                      
                                </p-table>
                                <!-- <div *ngIf ="showData ==  false" class="text-500">No data available.</div> -->

                            </div>
                        </div>
                       
                      
                    </div>

                    
                   
                </div>
            </div>
        <!-- </mat-card> -->
    </div>
</div>