    <h1>Size Range Configuration</h1>

<div class="p-fluid">
    <div class="p-field">
    <label>Min Size</label>
    <p-dropdown 
    placeholder = "Select Min Size"
    [filter]="true" >
    </p-dropdown>
    </div>

    <div class="p-field">
        <label>Max Size</label>
        <p-dropdown 
        placeholder = "Select Max Size"
        [filter]="true" >
        </p-dropdown>
    </div>

   
    <!-- <button pButton pRipple type="button" label="Size Range Configuration" class="p-button-warning"></button> -->
    <button pButton pRipple type="button" label="Add Range"   style="background-color: #F9CE26;color: black;text-align: center;width: 30%;margin-right: 10px"></button>
    <button pButton pRipple type="button" label="Update Range"   style="background-color: #333652;color: white;text-align: center;width: 30%;margin-right: 10px"></button>
    <button pButton pRipple type="button" label="Reset All Ranges"   style="background-color: #333652;color: white;text-align: center;width: 30%;"></button>


</div>
<br>
<div class="grid" >
    <div class="col-12">
        <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-900 font-medium text-xl mb-2">Size Range</span>
                    <!-- <div class="text-500">Below table statistically describes particle type wise its size in form of D10,D50,D90.</div> -->
                </div>
                <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div> -->
                 
               
            </div>

           
            <p-table  
            [value]="details"
            responsiveLayout="stack" 
            [paginator]="true" [rows]="3" [rows]="3" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [responsive]="true" [rowHover]="true"  >
                  <ng-template pTemplate="header" >
                      <tr>
                        <th style="width: 3rem">#</th>
                        <th>Min Size</th>
                        <th >Max Size</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-details  let-i="rowIndex" >
                      <tr>
                       <td>{{i + 1}}</td>
                       <td>{{details.min}}</td>
                       <td>{{details.max}}</td>
                      </tr>
                    
                      <div class="border-b" ></div>
                  </ng-template>
                  
            </p-table>
            <!-- <div *ngIf ="showData ==  false" class="text-500">No data available.</div> -->

        </div>
    </div>
   
  
</div>

<div mat-dialog-actions>
    <button pButton pRipple type="button" (click)="onNoClick()"
     label="Cancel"  class="p-mr-2 p-mb-2 p-button-text p-button-raised p-button-plain"
     style="width:40%;margin-right: 10px">
    </button>
    
    <button pButton pRipple type="button" label="Save Configuration" 
    style="width:40%;background-color: #F9CE26;" class="p-mb-2 p-button-raised p-button-warning"
   >
    </button>
  </div> 